@keyframes fade{
  to{
    opacity: 1;
    transform: translateY(0);
  }
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tableElement{
  display: grid;
  grid-template-columns: repeat(18, auto);
  grid-template-rows: repeat(9, auto);
  opacity: 0;
  transform: translateY(21px);
  animation: fade;
  animation-delay: 1.5s;
  animation-duration: .8s;
  animation-fill-mode: forwards;
}